<form> 
    <div>
        <table class="table table-bordered table-sm mb-0">
            <thead class="thead-light">
                <tr>
                    <th *ngFor="let attr of editableList.getAttributesConfig()">{{ attr.label }}</th>
                    <th class="text-right">
                        <button (click)="editableList.initAdd()" 
                            class="btn btn-light btn-sm btn-circle border"
                            title="Ajouter">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>    
            <tbody *ngIf="editableList.getDataSource()">
                <ng-container *ngFor="let d of editableList.getDataSource(); index as i" >
                    <tr [class.deleted]="d.deleted">
                        <ng-template [ngIf]="d.isnew || d.updated">
                            <ng-template ngFor let-attr [ngForOf]="editableList.getAttributesConfig()">
                                <td *ngIf="d.isnew">
                                    <div [ngSwitch]="attr.type">
                                        <select 
                                            *ngSwitchCase="'select'"
                                            [required]="!!attr.required" 
                                            [value]="d.getValue(attr)" 
                                            (change)="d.onChange($event, attr.name)" 
                                            name="d-{{attr.name}}-{{i}}" 
                                            class="form-control">
                                            <option  
                                                *ngFor="let o of editableList.getSelectAttrOptions(attr.name)" 
                                                [value]="o.value" 
                                                [selected]="o.value == d.getValue(attr)">
                                                {{o.label}}
                                            </option>
                                        </select>
                                        <input 
                                            *ngSwitchCase="'checkbox'"
                                            [required]="!!attr.required" 
                                            type="checkbox" 
                                            [checked]="d.getValue(attr)"
                                            (change)="d.toggleChecked($event, attr.name)" 
                                            name="d-{{attr.name}}-{{i}}"/> 
                                        <input 
                                            *ngSwitchDefault
                                            [required]="!!attr.required" 
                                            [type]="attr.type == undefined ? 'text' : attr.type" 
                                            [value]="d.getValue(attr)"
                                            (change)="d.onChange($event, attr.name)" 
                                            name="d-{{attr.name}}-{{i}}" 
                                            class="form-control"/>                        
                                    </div>
                                </td>
                                <td *ngIf="!d.isnew && !attr.updatable">{{ d.getValue(attr) | editableList }}</td>
                                <td *ngIf="!d.isnew && attr.updatable">
                                    <div [ngSwitch]="attr.type">
                                        <select 
                                            *ngSwitchCase="'select'"
                                            [required]="!!attr.required" 
                                            [value]="d.getValue(attr)" 
                                            (change)="d.onChange($event, attr.name)" 
                                            name="d-{{attr.name}}-{{i}}"
                                            class="form-control">
                                            <option 
                                                *ngFor="let o of editableList.getSelectAttrOptions(attr.name)" 
                                                [value]="o.value" 
                                                [selected]="o.value == d.getValue(attr)">
                                                {{o.label}}
                                            </option>
                                        </select>
                                        <input 
                                            *ngSwitchCase="'checkbox'"
                                            type="checkbox" 
                                            [checked]="d.getValue(attr)" 
                                            (change)="d.toggleChecked($event, attr.name)" 
                                            name="d-{{attr.name}}-{{i}}"/>
                                        <input 
                                            *ngSwitchDefault
                                            [required]="!!attr.required" 
                                            [type]="attr.type == undefined ? 'text' : attr.type" 
                                            [value]="d.getValue(attr)" 
                                            (change)="d.onChange($event, attr.name)" 
                                            name="d-{{attr.name}}-{{i}}" 
                                            class="form-control"/>
                                    </div>
                                </td>
                            </ng-template>
                        </ng-template>
                        <ng-container *ngIf="!d.isnew && !d.updated">
                            <td *ngFor="let attr of editableList.getAttributesConfig()">{{ d.getValue(attr) | editableList}}</td>
                        </ng-container>
                        <td class="text-right">
                            <button *ngIf="d.isUpdatable()"  
                                (click)="d.initUpdate()" 
                                class="ml-1 btn btn-light btn-sm btn-circle border"
                                title="Modifier">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button *ngIf="d.isSavable()"
                                (click)="editableList.save(d)" 
                                class="ml-1 btn btn-light btn-sm btn-circle border"
                                title="Enregistrer">
                                <i class="fas fa-save"></i>
                            </button>
                            <button *ngIf="d.isDeletable()"
                                (click)="d.initDelete()"
                                class="ml-1 btn btn-light btn-sm btn-circle border"
                                title="Supprimer">
                                <i class="fas fa-trash"></i>
                            </button>
                            <button *ngIf="d.isCancelable()"
                                (click)="editableList.cancel(d)"
                                class="ml-1 btn btn-light btn-sm btn-circle border"
                                title="Annuler">
                                <i class="fas fa-undo"></i>
                            </button>
                        </td> 
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</form>