<h2 mat-dialog-title>Retour d'une ligne de commande</h2>
<mat-dialog-content>
    <div class="container-fluid mt-3">
        <div *ngIf="bean">
            <div class="row">
                <div class="col-4">
                    <input-text-field [field]="bean.article.type"></input-text-field>
                </div>
                <div class="col-4">
                    <input-text-field [field]="bean.variantCode"></input-text-field>
                </div>
                <div class="col-4">
                    <input-text-field [field]="bean.article.articleCode"></input-text-field>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <input-text-field [field]="bean.unite.uniteCode" label="Unité de commande"></input-text-field>
                </div>
                <div class="col-4">
                    <input-text-field [field]="bean.quantite" label="Quantité commandée"></input-text-field>
                </div>
                <div class="col-4">
                    <input-number-field [field]="bean.prixUnitaire"></input-number-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <achat-vente-edit-retour-list [ligne]="bean" [commande]="commande"></achat-vente-edit-retour-list>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="m-3">
    <button mat-raised-button mat-dialog-close>Annuler</button>
    <button mat-raised-button (click)="saveAction()">Enregistrer</button>
</mat-dialog-actions>