<section class="p-3">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-4">  
                    <select-one-field [field]="bean.type"></select-one-field>                      
                </div>
                <div class="col-4">   
                    <input-text-field [field]="bean.commandeCode"></input-text-field>                       
                </div>
                <div class="col-4">    
                    <input-date-field [field]="bean.date"></input-date-field>                      
                </div>
            </div>
            <div class="row">
                <div class="col-4">   
                    <select-one-field [field]="bean.status"></select-one-field>                     
                </div>
                <div class="col-4"> 
                    <select-one-field [field]="bean.partner.partnerCode"></select-one-field>                        
                </div>
                <div class="col-4">  
                    <select-one-field [field]="bean.magasin.magasinCode"></select-one-field>                      
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <input-number-field 
                        [field]="bean.remiseMontant"
                        (onChange)="updatePrixEvent()">
                    </input-number-field>
                    <button mat-icon-button color="primary" 
                        class="field-button" title="Paraméter la remise" 
                        (click)="editRemiseAction(bean)">
                        <mat-icon>open_in_new</mat-icon>
                    </button>           
                </div>
                <div class="col-8">      
                    <input-text-field [field]="bean.description"></input-text-field>                  
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-4">   
                    <input-number-field [field]="bean.prixTotalHT"></input-number-field>
                </div> 
                <div class="col-4">   
                    <input-number-field [field]="bean.taxe"></input-number-field>
                </div> 
                <div class="col-4">   
                    <input-number-field [field]="bean.remise"></input-number-field>
                </div> 
            </div>
            <div class="row">
                <div class="col-6">   
                    <input-number-field [field]="bean.prixTotalTTC"></input-number-field>
                </div>                
                <div class="col-6">   
                    <input-number-field [field]="bean.prixTotal"></input-number-field>
                </div> 
            </div>
            <div class="row">                 
                <div class="col-6">   
                    <select-one-field [field]="bean.compte.compteCode"></select-one-field>
                </div> 
                <div class="col-6">
                    <input-number-field [field]="bean.paiementComptant"></input-number-field>
                    <button mat-icon-button color="primary" 
                        class="field-button"  
                        title="Synchroniser avec le prix total de la commande" 
                        (click)="piementComptantTotalAction()">
                        <mat-icon>currency_exchange</mat-icon>
                    </button> 
                </div>                     
            </div>
        </div>
    </div>    
</section>

<achat-vente-edit-ligne-list *ngIf="bean" 
    (updatePrixCommande)="updatePrixEvent()" 
    [commande]="bean">
</achat-vente-edit-ligne-list>

<section class="p-3">
    <button mat-raised-button cdkFocusInitial (click)="saveAction()">
        <mat-icon>save</mat-icon>Enregistrer
    </button>
</section>