<section class="p-3">
    <h4 class="m-0 p-0">
        <div class="d-flex">
            <input-text-field 
                [field]="alias"  
                *ngIf="commande.createLigneBtn.visible">
            </input-text-field>
            <button mat-icon-button color="primary" *ngIf="commande.createLigneBtn.visible"
                [disabled]="alias.value == null || alias.value == ''"
                class="field-button"
                title="Ajouter à la liste" 
                (click)="addFromAliasAction()">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
            <span class="menu-spacer"></span>
            
        </div>
    </h4>

    <div class="table-wrapper">
        <table mat-table [dataSource]="this" class="beans-table editable table-borderless">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="text-start">
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" 
                        [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="text-start">
                    <mat-checkbox (click)="$event.stopPropagation()" 
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" 
                        [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">
                    <input-text-field 
                        [field]="element.description" 
                        [displayLabel]="false">
                    </input-text-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="remise">
                <th mat-header-cell *matHeaderCellDef>Remise</th>
                <td mat-cell *matCellDef="let element">
                    <div class="d-flex">
                        <div class="">
                            <input-number-field  
                                [field]="element.remise" 
                                [displayLabel]="false">
                            </input-number-field>
                        </div>
                        <div class="">
                            <div class="field-button pt-1" >
                                <button mat-icon-button 
                                    color="primary"  
                                    title="Paramétrer la remise" 
                                    (click)="editRemiseAction(element)">
                                    <mat-icon>open_in_new</mat-icon>
                                </button> 
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="taxe">
                <th mat-header-cell *matHeaderCellDef>Montant Taxe</th>
                <td mat-cell *matCellDef="let element">                    
                    <div class="d-flex">
                        <div class="">
                            <input-number-field 
                                [field]="element.taxe" 
                                [displayLabel]="false">
                            </input-number-field>
                        </div>
                        <div class="">
                            <div class="field-button pt-1" >
                                <button mat-icon-button color="primary"                             
                                    title="Liste des taxes appliquée" 
                                    (click)="listerTaxesAction(element)">
                                    <mat-icon>open_in_new</mat-icon>
                                </button> 
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="variantCode">
                <th mat-header-cell *matHeaderCellDef>Variant</th>
                <td mat-cell *matCellDef="let element">
                    <select-one-field
                        [field]="element.variantCode" 
                        [displayLabel]="false">
                    </select-one-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="article">
                <th mat-header-cell *matHeaderCellDef>Article</th>
                <td mat-cell *matCellDef="let element">
                    <select-one-field 
                        (onChange)="onSelectArticleEvent(element)" 
                        *ngIf="isStandard(element)"
                        [field]="element.article.articleCode" 
                        [displayLabel]="false">
                    </select-one-field>

                    <input-text-field *ngIf="!isStandard(element)" 
                        [field]="element.description"
                        [displayLabel]="false">
                    </input-text-field>
                </td>
            </ng-container>            

            <ng-container matColumnDef="unite">
                <th mat-header-cell *matHeaderCellDef>Unité</th>
                <td mat-cell *matCellDef="let element">
                    <select-one-field *ngIf="isStandard(element)" 
                        [field]="element.unite.uniteCode"
                        [displayLabel]="false">
                    </select-one-field>

                    <input-text-field *ngIf="!isStandard(element)" 
                        [field]="element.unite.uniteCode"
                        [displayLabel]="false">
                    </input-text-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="prixUnitaire">
                <th mat-header-cell *matHeaderCellDef>Prix Unitaire</th>
                <td mat-cell *matCellDef="let element">
                    <input-number-field (onChange)="updatePrixEvent(element)" 
                        [field]="element.prixUnitaire"
                        [displayLabel]="false">
                    </input-number-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="quantite">
                <th mat-header-cell *matHeaderCellDef>Quantité</th>
                <td mat-cell *matCellDef="let element">
                    <input-number-field 
                        (onChange)="updatePrixEvent(element)"
                        [field]="element.quantite"
                        [displayLabel]="false">
                    </input-number-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="prixTotal">
                <th mat-header-cell *matHeaderCellDef>Prix Total</th>
                <td mat-cell *matCellDef="let element">
                    <input-number-field 
                        [field]="element.prixTotal" 
                        [displayLabel]="false">
                    </input-number-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element">
                    <select-one-field 
                        (onChange)="onSelectLigneTypeEvent(element)" 
                        [field]="element.type"
                        [displayLabel]="false">
                    </select-one-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef class="text-end">
                    <button mat-mini-fab color="primary" 
                        *ngIf="commande.createLigneBtn.visible"
                        title="Ajouter" (click)="addAction()">
                        <mat-icon>add</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element" class="text-end">
                    <div class="text-nowrap">
                        <button mat-icon-button color="primary" 
                            *ngIf="commande.createLigneBtn.visible"
                            title="Copier" (click)="copyAction(element)">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" 
                            *ngIf="element.deleteBtn.visible"
                            title="Supprimer" (click)="deleteAction(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button color="secondary" [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">                                
                            <button mat-menu-item color="primary" 
                                title="Gérer les retours de cette ligne" 
                                class="me-2" 
                                *ngIf="element.retourBtn.visible"
                                (click)="editRetourAction(element)">
                                <mat-icon>open_in_new</mat-icon>Retourner
                            </button>                           
                            <button mat-menu-item color="primary" 
                                title="Receptionner cette ligne" 
                                class="me-2" 
                                *ngIf="element.receptionBtn.visible"
                                (click)="editReceptionAction(element)">
                                <mat-icon>open_in_new</mat-icon>Receptionner
                            </button>
                        </mat-menu>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                [class.text-bg-danger]="row.action == 'DELETE'">
            </tr>
        </table>
    </div>
</section>