<mat-tab-group mat-stretch-tabs="false" 
    mat-align-tabs="start"  
    #achat_vente_commande
    (selectedTabChange)="selectedTabChange($event)"
    [selectedIndex]="selectedTab.index">
    <mat-tab>        
        <ng-template mat-tab-label>
            <mat-icon>list_task</mat-icon>
            <span class="ms-2">
                Liste
            </span>
        </ng-template> 
        <achat-vente-commande-list-tab 
            [module]="module" 
            [editingBeans]="editingBeans"
            [selectedTab]="selectedTab"
            [breadcrumb]="breadcrumb">
        </achat-vente-commande-list-tab>
    </mat-tab>
    <ng-container *ngFor="let editingBean of editingBeans; index as i">
        <mat-tab>                          
            <ng-template mat-tab-label>
                <span class="me-2">
                    {{editingBean.commandeCode.value}}
                </span>
                <button mat-icon-button (click)="removeTabAction(i)">
                    <mat-icon>close</mat-icon>
                </button>
            </ng-template>
            <achat-vente-commande-edit-tab 
                [module]="module" 
                [bean]="editingBean"                
                [breadcrumb]="breadcrumb"
                (onBeanSave)="onBeanSaveFronEditTab($event)">
            </achat-vente-commande-edit-tab>
        </mat-tab>
    </ng-container>
</mat-tab-group>

<div class="d-flex">
    <button mat-fab extended cdkFocusInitial  class="ms-3 mb-3"
        (click)="saveAction()" 
        color="primary"
        *ngIf="currentEditingBean?.saveBtn?.visible">
        <mat-icon>save</mat-icon>Enregistrer
    </button>

    <span class="menu-spacer"></span>

    <button mat-fab color="warn" extended (click)="addAction()" class="me-3 mb-3">
        <mat-icon>add</mat-icon> Ajouter une nouvelle commande
    </button>
</div> 


  
