<section class="mat-elevation-z8">
    <mat-drawer-container>
        <mat-drawer #drawer class="search-form">
            <section *ngIf="searchForm" class="p-3">
                <h4>
                    Recherche
                </h4>
                <div>
                    <div>
                        <input-text-field [field]="searchForm.commandeCode"></input-text-field>
                        <select-multiple-field [field]="searchForm.statusIn"></select-multiple-field>
                    </div>
                    <div>
                        <input-date-field [field]="searchForm.dateDebut"></input-date-field>
                        <input-date-field [field]="searchForm.dateFin"></input-date-field>
                    </div>
                    <div>
                        <input-text-field [field]="searchForm.partner"></input-text-field>
                        <input-text-field [field]="searchForm.ville"></input-text-field>
                    </div>
                </div>
                <div class="text-nowrap">
                    <button mat-raised-button color="primary" class="me-2" (click)="searchAction()">
                        <mat-icon>search</mat-icon>Rechercher
                    </button>
                    <button mat-raised-button color="primary" (click)="resetSearchFormAction()">
                        <mat-icon>reset</mat-icon>Reinitialiser
                    </button>
                </div>
            </section>
        </mat-drawer>
        <mat-drawer-content class="search-result">
            <section class="p-3">
                <mat-toolbar color="secondary">                      
                    <mat-toolbar-row>
                        <button mat-icon-button (click)="drawer.toggle()">
                            <mat-icon>tune</mat-icon>
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>
                <table mat-table [dataSource]="this">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="commandeCode">
                        <th mat-header-cell *matHeaderCellDef>Code</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.commandeCode.value}}
                            <mat-icon *ngIf="element.description.value" class="fs-6" [matTooltip]="element.description.value" fontIcon="info"></mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">{{element.status.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="paiementComptant">
                        <th mat-header-cell *matHeaderCellDef>Payé Comptant</th>
                        <td mat-cell *matCellDef="let element">{{element.paiementComptant.value}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="compte">
                        <th mat-header-cell *matHeaderCellDef>Compte</th>
                        <td mat-cell *matCellDef="let element">{{element.compte.compteCode.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>Date</th>
                        <td mat-cell *matCellDef="let element">{{element.date.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>Type</th>
                        <td mat-cell *matCellDef="let element">{{element.type.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="magasin">
                        <th mat-header-cell *matHeaderCellDef>Magasin</th>
                        <td mat-cell *matCellDef="let element">{{element.magasin.magasinCode.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="partner">
                        <th mat-header-cell *matHeaderCellDef>{{partnerLabel}}</th>
                        <td mat-cell *matCellDef="let element">{{element.partner.partnerCode.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="prixTotal">
                        <th mat-header-cell *matHeaderCellDef>Prix Total</th>
                        <td mat-cell *matCellDef="let element">{{element.prixTotal.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="remise">
                        <th mat-header-cell *matHeaderCellDef>Remise</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.remise.value}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="taxe">
                        <th mat-header-cell *matHeaderCellDef>Taxe</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.taxe.value}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="text-end">
                            <button mat-mini-fab (click)="addAction()" class="me-2" color="primary">
                                <mat-icon>add</mat-icon>
                            </button>
                            <button mat-icon-button color="secondary" [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">                                
                                <button mat-menu-item color="primary" class="me-2">
                                    <mat-icon>sync-alt</mat-icon>TODO
                                </button>
                            </mat-menu>
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-end">
                            <button mat-icon-button color="primary" title="Afficher" (click)="editAction(element)">
                                <mat-icon>preview</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" title="Copier" (click)="addAction(element)">
                                <mat-icon>content_copy</mat-icon>
                            </button>                         
                            <button mat-icon-button color="primary" title="Changer Status" (click)="changeStatusAction(element)">
                                <mat-icon>schema</mat-icon>
                            </button>
                            <button mat-icon-button color="secondary" [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">                                
                                <button mat-menu-item color="primary" class="me-2">
                                    <mat-icon>sync-alt</mat-icon>TODO
                                </button>
                                <button mat-menu-item color="primary" title="Supprimer" (click)="deleteAction(element)">
                                    <mat-icon>delete</mat-icon> Supprimer
                                </button> 
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        [class.text-bg-danger]="row.action == 'DELETE'"></tr>
                </table>
            </section>
        </mat-drawer-content>
    </mat-drawer-container>
</section>