<div class="modal-header">
    <h5 class="modal-title" i18n>{{title}}</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #changeStatusForm="ngForm">
        <div class="mb-3" *ngIf="authStatuses">
            <label for="status" class="form-label required" i18n>Statut</label>
            <select [(ngModel)]="form.status" required name="status" id="status" class="form-control">
                <option *ngFor="let option of authStatuses" [value]="option.status">{{ option.label}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="memo" class="form-label" i18n>Mémo</label>
            <textarea [(ngModel)]="form.memo" name="memo" id="memo" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="changedDate" class="form-label" i18n>Date de changement</label>
            <div class="input-group">
                <input type="date" [(ngModel)]="form.changedDate" name="changedDate" id="changedDate" class="form-control"/>
                <input type="time" [(ngModel)]="form.changedTime" name="changedTime" id="changedTime" class="form-control"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="ml-1 btn border btn-light btn-sm btn-icon-split" (click)="activeModal.close()">
        <span class="icon text-white-50">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text" i18n>Fermer</span>
    </button>
    <button class="ml-1 btn btn-light btn-sm border btn-icon-split" (click)="process()" title="Enregistrer" [disabled]="!changeStatusForm.form.valid">
        <span class="icon text-white-50">
            <i class="fas fa-save"></i>
        </span>
        <span class="text" i18n>Changer</span>
    </button>
</div>