<section class="mb-3">
    <a mat-raised-button color="primary" class="me-2" href="/tiers/tiers">
        <mat-icon>arrow_back</mat-icon>Retour
    </a>
    <button mat-raised-button color="primary" class="me-2" (click)="saveAction()">
        <mat-icon>save</mat-icon>Enregistrer
    </button>
    <button mat-raised-button color="primary" class="me-2" (click)="addAction()">
        <mat-icon>add</mat-icon>Ajouter
    </button>
    <button mat-raised-button color="primary" class="me-2" (click)="copyAction()">
        <mat-icon>content_copy</mat-icon>Copier
    </button>
    <button mat-raised-button color="primary" class="me-2" (click)="categoryAction()">
        <mat-icon>menu</mat-icon>Categories
    </button>
</section>

<section *ngIf="bean" class="mat-elevation-z8 p-3 mb-3">
    <div class="row">
        <div class="col-8">
            <h4>
                Détails du tiers
            </h4>
            <div class="row">
                <div class="col-3">
                    <input-text-field [field]="bean.tiersCode"></input-text-field>
                    <select-one-field [field]="bean.tiersType"></select-one-field>
                    <select-one-field [field]="bean.status"></select-one-field>
                </div>
        
                <div class="col-3">
                    <input-text-field 
                        *ngIf="bean.tiersType.value == 'COMPANY'"
                        [field]="bean.name">
                    </input-text-field>
                    <input-text-field 
                        *ngIf="bean.tiersType.value == 'PERSON'"
                        [field]="bean.firstName">
                    </input-text-field>
                    <input-text-field
                        *ngIf="bean.tiersType.value == 'PERSON'"
                        [field]="bean.lastName">
                    </input-text-field>
                </div>
        
                <div class="col-3">
                    <input-tel-field [field]="bean.phone"></input-tel-field>
                    <input-email-field [field]="bean.email"></input-email-field>
                </div>
                <div class="col-3">
                    <input-text-field [field]="bean.country"></input-text-field>
                    <input-text-field [field]="bean.city"></input-text-field>
                    <input-textarea-field [field]="bean.address"></input-textarea-field>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h4>
                Catégories
            </h4>
            <tiers-tiers-category-block [bean]="bean.categoriesHierarchie"></tiers-tiers-category-block>
        </div>
    </div>    
</section>