<div>
    <button>Retour</button>
    |
    <button>Enregistrer</button>
    <button>Supprimer</button>
    |
    <button>Ajouter</button>
    <button>Copier</button>
    |
    <button>Catégories</button>
</div>

<h1>Tiers {{ tiersCode }}</h1>

<fieldset>
    <legend>
        Détails du Tiers
    </legend>
    <section *ngIf="bean">
        <div>
            <input-text-field [field]="bean.tiersCode" [label]="'Code'"></input-text-field>
        </div>
        <div>
            <select-one-field [field]="bean.tiersType" [label]="'Type'"></select-one-field>
        </div>
        <div *ngIf="bean.tiersType.value == 'COMPANY'">
            <input-text-field [field]="bean.name" [label]="'Nom Société'"></input-text-field>
        </div>
        <div *ngIf="bean.tiersType.value == 'PERSON'">
            <input-text-field [field]="bean.firstName" [label]="'Nom'"></input-text-field>
        </div>
        <div *ngIf="bean.tiersType.value == 'PERSON'">
            <input-text-field [field]="bean.lastName" [label]="'Prénom'"></input-text-field>
        </div>
        <div>
            <select-one-field [field]="bean.status" [label]="'Statut'"></select-one-field>
        </div>
        <div>
            <input-phone-field [field]="bean.phone" [label]="'Phone'"></input-phone-field>
        </div>
        <div>
            <input-email-field [field]="bean.email" [label]="'Email'"></input-email-field>
        </div>
        <div>
            <input-text-field [field]="bean.country" [label]="'Pays'"></input-text-field>
        </div>
        <div>
            <input-text-field [field]="bean.city" [label]="'Ville'"></input-text-field>
        </div>
        <div>
            <input-textarea-field [field]="bean.address" [label]="'Adresse'"></input-textarea-field>
        </div>
    </section>
</fieldset>

<fieldset>
    <legend>
        Catégorie
    </legend>
    <section *ngIf="bean">
        <tiers-tiers-category-block [bean]="bean.categoriesHierarchie"></tiers-tiers-category-block>
    </section>
</fieldset>

<div>
    <br />
    <button>Enregistrer</button>
    <button>Annuler</button>
</div>