<h2 mat-dialog-title>Confirmation changement de status</h2>
<mat-dialog-content>
    <div class="container-fluid mt-3">
        <div *ngIf="bean">
            <div class="row">
                <div class="col-4">
                    <input-text-field [field]="bean.magasin.magasinCode" [label]="'Magasin'"></input-text-field>
                </div>
                <div class="col-4">
                    <input-text-field [field]="bean.agent.tiersCode" [label]="'Agent'"></input-text-field>
                </div>
                <div class="col-4">
                    <input-text-field [field]="bean.journee"></input-text-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <input-datetime-field [field]="bean.statusDate"></input-datetime-field>
                </div>
                <div class="col-6">
                    <select-one-field [field]="bean.status"></select-one-field>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button cdkFocusInitial (click)="changeStatusAction()">Changer</button>
</mat-dialog-actions>