<section class="p-3">
    <h4 class="m-0 p-0">
        <div class="d-flex">
            <div>
                <input-text-field
                    [field]="alias" (keydown.enter)="addFromAliasAction()">
                </input-text-field>
                <button mat-icon-button color="primary"
                    [disabled]="alias.value == null || alias.value == ''"
                    class="field-button"
                    title="Ajouter à la liste" 
                    (click)="addFromAliasAction()">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </div>
            <div class="ms-3">
                <autocomplete-field 
                    (onSelected)="addFromQueryAction($event)"
                    [field]="query" 
                    [lookupFn]="variantLookupFn" 
                    [keyFn]="mapVariantToKeyFn"
                    [displayFn]="mapVariantToLabelFn">
                </autocomplete-field>    
                <button mat-icon-button color="primary"
                    [disabled]="query.value == null || query.value == ''"
                    class="field-button"
                    title="Recehrcher l'article">
                    <mat-icon>search</mat-icon>
                </button>            
            </div>
            <span class="menu-spacer"></span>            
        </div>
    </h4>

    <div class="table-wrapper">
        <table mat-table [dataSource]="this" class="beans-table editable table-borderless commande-ligne">            

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">
                    <input-text-field 
                        [field]="element.description" 
                        [displayLabel]="false">
                    </input-text-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="remise">
                <th mat-header-cell *matHeaderCellDef>Remise</th>
                <td mat-cell *matCellDef="let element">
                    <div class="d-flex">
                        <div>
                            <input-number-field  
                                [field]="element.remise" 
                                [displayLabel]="false">
                            </input-number-field>
                        </div>
                        <div>
                            <div class="field-button pt-1" >
                                <button mat-icon-button 
                                    color="primary"  
                                    title="Paramétrer la remise" 
                                    (click)="editRemiseAction(element)">
                                    <mat-icon>open_in_new</mat-icon>
                                </button> 
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="taxe">
                <th mat-header-cell *matHeaderCellDef>Taxe</th>
                <td mat-cell *matCellDef="let element">                    
                    <div class="d-inline-flex">
                        <input-number-field 
                            [field]="element.taxe" 
                            [displayLabel]="false">
                        </input-number-field>
                        <div class="field-button pt-1" >
                            <button mat-icon-button color="primary"                             
                                title="Liste des taxes appliquée" 
                                (click)="listerTaxesAction(element)">
                                <mat-icon>open_in_new</mat-icon>
                            </button> 
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="variantCode">
                <th mat-header-cell *matHeaderCellDef>Variant</th>
                <td mat-cell *matCellDef="let element">
                    <select-one-field
                        (onChange)="refreshPrixUnitaireEvent(element)" 
                        [field]="element.variantCode" 
                        [displayLabel]="false">
                    </select-one-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="article">
                <th mat-header-cell *matHeaderCellDef>Article</th>
                <td mat-cell *matCellDef="let element">                    
                    <autocomplete-field                     
                        (onSelected)="element.article.articleCode.value=$event.option.value;onSelectArticleEvent(element)"
                        [field]="element.article.articleCode" 
                        [lookupFn]="articleLookupFn" 
                        [keyFn]="mapArticleToKeyFn"
                        [displayLabel]="false"
                        [lookupFnOptions]="element" 
                        *ngIf="isStandard(element)"
                        [displayFn]="mapArticleToLabelFn">
                    </autocomplete-field>

                    <input-text-field *ngIf="!isStandard(element)" 
                        [field]="element.description"
                        [displayLabel]="false">
                    </input-text-field>
                </td>
            </ng-container>            

            <ng-container matColumnDef="unite">
                <th mat-header-cell *matHeaderCellDef>Unité</th>
                <td mat-cell *matCellDef="let element">
                    <select-one-field *ngIf="isStandard(element)" 
                        (onChange)="refreshPrixUnitaireEvent(element)" 
                        [field]="element.unite.uniteCode"
                        [displayLabel]="false">
                    </select-one-field>

                    <input-text-field *ngIf="!isStandard(element)" 
                        [field]="element.unite.uniteCode"
                        [displayLabel]="false">
                    </input-text-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="prixUnitaire">
                <th mat-header-cell *matHeaderCellDef>Prix Unitaire</th>
                <td mat-cell *matCellDef="let element">
                    <input-number-field (onChange)="updatePrixEvent(element)" 
                        [field]="element.prixUnitaire"
                        [displayLabel]="false">
                    </input-number-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="quantite">
                <th mat-header-cell *matHeaderCellDef>Quantité</th>
                <td mat-cell *matCellDef="let element">
                    <input-number-field inputCssClass="text-center"
                        (onChange)="updatePrixEvent(element)"
                        [field]="element.quantite"
                        [displayLabel]="false">
                    </input-number-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="prixTotal">
                <th mat-header-cell *matHeaderCellDef>Prix Total</th>
                <td mat-cell *matCellDef="let element">
                    <input-number-field 
                        [field]="element.prixTotal" 
                        [displayLabel]="false">
                    </input-number-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element">
                    <select-one-field 
                        (onChange)="onSelectLigneTypeEvent(element)" 
                        [field]="element.type"
                        [displayLabel]="false">
                    </select-one-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef class="text-end">
                    <button mat-mini-fab color="primary" 
                        *ngIf="commande.createLigneBtn.visible"
                        title="Ajouter" (click)="addAction()">
                        <mat-icon>add</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element" class="text-end">
                    <div class="text-nowrap">
                        <button mat-icon-button color="primary" 
                            *ngIf="commande.createLigneBtn.visible"
                            title="Copier" (click)="copyAction(element)">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                        <button mat-icon-button color="secondary" [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu"> 
                            <button mat-menu-item color="primary" (click)="listerTaxesAction(element)">
                                <mat-icon>open_in_new</mat-icon>Taxes appliquées
                            </button> 
                            <button mat-menu-item color="primary" (click)="editRemiseAction(element)">
                                <mat-icon>open_in_new</mat-icon>Paramètres de la remise
                            </button> 
                              
                            <mat-divider></mat-divider>

                            <button mat-menu-item color="primary" title="Copier" 
                                *ngIf="commande.createLigneBtn.visible"
                                (click)="copyAction(element)">
                                <mat-icon>content_copy</mat-icon>Copier
                            </button>                      
                            <button mat-menu-item color="primary"                                
                                *ngIf="element.deleteBtn.visible"
                                title="Supprimer" (click)="deleteAction(element)">
                                <mat-icon>delete</mat-icon>Supprimer
                            </button> 
                        </mat-menu>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                [class.text-bg-danger]="row.action == 'DELETE'">
            </tr>
        </table>
    </div>
</section>