<h2 mat-dialog-title>Confirmation changement de status</h2>
<mat-dialog-content>
    <div class="container-fluid mt-3">
        <div *ngIf="bean">
            <div class="row">
                <div class="col-4">
                    <input-text-field [field]="bean.factureCode" [label]="'Ref Facture'"></input-text-field>
                </div>
                <div class="col-4">
                    <input-number-field [field]="bean.montant"></input-number-field>
                </div>
                <div class="col-4">
                    <input-number-field [field]="bean.partner.partnerName"></input-number-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <input-datetime-field [field]="bean.statusDate"></input-datetime-field>
                </div>
                <div class="col-6">
                    <select-one-field [field]="bean.status"></select-one-field>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="m-3">
    <button mat-raised-button mat-dialog-close>Annuler</button>
    <button mat-raised-button cdkFocusInitial (click)="changeStatusAction()">Changer</button>
</mat-dialog-actions>