<h2 class="p-3" mat-dialog-title>Edition</h2>

<section class="p-3">
    <div class="row">
        <div class="col-6">
            <h4>
                Détails de la facture
            </h4>
            <div class="row">
                <div class="col-6">
                    <input-text-field [field]="bean.factureCode"></input-text-field>                            
                </div>
                <div class="col-6">                      
                    <select-one-field [field]="bean.type"></select-one-field>
                </div>               
            </div>
            <div class="row">
                <div class="col-6">
                    <input-date-field [field]="bean.date"></input-date-field>                         
                </div>
                <div class="col-6">
                    <select-one-field [field]="bean.status"></select-one-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <select-one-field 
                        [field]="bean.partner.partnerCode"
                        [label]="partnerLabel">
                    </select-one-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input-textarea-field [field]="bean.description"></input-textarea-field>                
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="row">
                    <div class="col-4">   
                        <input-number-field [field]="bean.prixTotalHT"></input-number-field>
                    </div> 
                    <div class="col-4">   
                        <input-number-field [field]="bean.taxe"></input-number-field>
                    </div> 
                    <div class="col-4">   
                        <input-number-field [field]="bean.remise"></input-number-field>
                    </div> 
                </div>
                <div class="row">               
                    <div class="col-6">   
                        <input-number-field [field]="bean.prixTotal"></input-number-field>
                    </div> 
                    <div class="col-6">   
                        <input-number-field [field]="bean.cumulPaiement"></input-number-field>
                        <button mat-icon-button color="primary" 
                            class="field-button"                          
                            (click)="afficherReglementAction()"
                            matTooltip="Liste des paiements">
                            <mat-icon>list_task</mat-icon>
                        </button> 
                    </div> 
                </div>
                <div class="row">        
                    <div class="col-12">
                        <div class="d-flex">                            
                            <button mat-fab color="primary" 
                                extended 
                                (click)="saveAction({processPaiement:true})"
                                *ngIf="bean.reglerBtn.visible">
                                <mat-icon>currency_exchange</mat-icon> Régler
                            </button>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div>        
</section>

<section class="p-3">
    <button mat-raised-button cdkFocusInitial (click)="saveAction()" *ngIf="bean.saveBtn.visible">
        <mat-icon>save</mat-icon>Enregistrer
    </button>
</section>