<mat-tab-group mat-stretch-tabs="false" 
    #achat_vente_facture
    mat-align-tabs="start" 
    [selectedIndex]="selectedTab.index"
    (selectedTabChange)="selectedTabChange($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>list_task</mat-icon>
            <span class="ms-2">
                Liste
            </span>
        </ng-template> 
        <achat-vente-facture-list-tab 
            [editingBeans]="editingBeans"
            [module]="module" 
            [selectedTab]="selectedTab"
            [breadcrumb]="breadcrumb">
        </achat-vente-facture-list-tab>
    </mat-tab>
    <ng-container *ngFor="let editingBean of editingBeans; index as i">
        <mat-tab>                   
            <ng-template mat-tab-label>
                <span class="me-2">
                    {{editingBean.factureCode.value}}
                </span>
                <button mat-icon-button (click)="removeTabAction(i)">
                    <mat-icon>close</mat-icon>
                </button>
            </ng-template>
            <achat-vente-facture-edit-tab 
                [bean]="editingBean"
                [module]="module" 
                [breadcrumb]="breadcrumb"
                (onBeanSave)="onBeanSaveFronEditTab($event)">
            </achat-vente-facture-edit-tab>
        </mat-tab>
    </ng-container>
</mat-tab-group>

<div class="d-flex p-3">
    <button mat-fab extended cdkFocusInitial  class="m-3"
        (click)="saveAction()" 
        color="primary"
        *ngIf="currentEditingBean?.saveBtn?.visible">
        <mat-icon>save</mat-icon>Enregistrer
    </button>

    <button mat-fab color="warn" extended (click)="addAction()" class="m-3">
        <mat-icon>add</mat-icon> Ajouter une nouvelle facture
    </button>
</div>



