<section class="mb-3">
    <a mat-raised-button color="primary" 
        class="me-2" 
        href="/achat/bon-commande">
        <mat-icon>arrow_back</mat-icon>Retour
    </a>

    <button mat-raised-button 
        color="primary" 
        class="me-2"
        (click)="saveAction()">
        <mat-icon>save</mat-icon>Enregistrer
    </button>

    <button mat-raised-button 
        color="primary" 
        class="me-2"
        (click)="addAction()">
        <mat-icon>add</mat-icon>Ajouter
    </button>

    <button mat-raised-button 
        color="primary" 
        class="me-2"
        (click)="copyAction()">
        <mat-icon>add</mat-icon>Copier
    </button>
</section>

<section *ngIf="bean" class=" mat-elevation-z8 mb-3 p-3">
    <h4>
        Détails du Bon de Commande
    </h4>
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-6">
                    <input-text-field [field]="bean.bonCommandeCode"></input-text-field>
                </div>
                <div class="col-6">
                    <input-checkbox-field [field]="bean.livraison"></input-checkbox-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input-date-field [field]="bean.dateBonCommande"></input-date-field>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="row">
                <div class="col-6">
                    <select-one-field [field]="bean.status"></select-one-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <select-one-field [field]="bean.fournisseur.tiersCode" [label]="'Fournisseur'"></select-one-field>
                </div>
                <div class="col-6">
                    <select-one-field [field]="bean.magasin.magasinCode" [label]="'Magasin'"></select-one-field>
                </div>
            </div>
        </div>

        <div class="col-3">
            <input-text-field [field]="bean.prixTotal"></input-text-field>
        </div>

        <div class="col-3">
            <input-textarea-field [field]="bean.description"></input-textarea-field>
        </div>
    </div>
</section>

<section class="mat-elevation-z8 p-3">
    <h4>
        Lignes du bon de commande
    </h4>
    <achat-edit-ligne-list *ngIf="bean && bean.lignes" (updateOwnerPrixTotal)="updatePrixTotalEvent()"
        [lignes]="bean.lignes" [ownerId]="{'bonCommandeCode':bean.bonCommandeCode.value}">
    </achat-edit-ligne-list>
</section>