<h1>Gestion des Bons Commande</h1>
<fieldset>
    <legend>
        Recherche
    </legend>
    <section>
        <button>Rechercher</button>
        <button>Initialiser</button>
        |
        <button (click)="addAction()">Ajouter</button>
    </section>
</fieldset>

<fieldset>
    <legend>
        Liste des Tiers
    </legend>
    <section>
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>Code</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th colspan="2">Fournisseur</th>
                    <th>Magasin</th>
                    <th>Livraison?</th>
                    <th>Description</th>
                    <th><button>Ajouter</button> </th>
                </tr>
            </thead>
            <tbody *ngIf="beans">
                <tr *ngFor="let bean of beans">
                    <td><input type="checkbox" /></td>
                    <td><a (click)="editAction(bean)">{{ bean.bonCommandeCode.value }}</a> </td>
                    <td>{{ bean.dateBonCommande.value }}</td>
                    <td>{{ bean.statut.value }}</td>
                    <td>{{ bean.fournisseur.tiersCode.value }}</td>
                    <td>{{ bean.fournisseur.tiersName.value }}</td>
                    <td>{{ bean.magasin.magasinCode.value }}</td>
                    <td>{{ bean.livraison.value }}</td>
                    <td>{{ bean.description.value }}</td>
                    <td>
                        <button (click)="editAction(bean)">Editer</button>
                        <button (click)="copyAction(bean)">Copier</button>
                        <button (click)="deleteAction(bean)">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</fieldset>