<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="selectedTab.index">
    <mat-tab label="Liste">
        <core-partner-list-page 
            [editingBeans]="editingBeans"
            [selectedTab]="selectedTab">
        </core-partner-list-page>
    </mat-tab>
    <ng-container *ngFor="let editingBean of editingBeans">
        <mat-tab [label]="editingBean.partnerCode.value">
            <core-partner-edit-tab [bean]="editingBean"></core-partner-edit-tab>
        </mat-tab>
    </ng-container>
  </mat-tab-group>
