<section class="mat-elevation-z8">
    <mat-drawer-container>
        <mat-drawer #drawer class="search-form">
            <section class="p-3 mb-3" *ngIf="searchForm">
                <h4>
                    Recherche
                </h4>
                <div>
                    <div>
                        <input-text-field [field]="searchForm.phone"></input-text-field>
                        <input-text-field [field]="searchForm.email"></input-text-field>
                        <input-text-field [field]="searchForm.city"></input-text-field>
                    </div>
                    <div>
                        <select-one-field [field]="searchForm.statusIn"></select-one-field>
                    </div>
                </div>
                <div class="text-nowrap">
                    <button mat-raised-button color="primary" class="me-2" (click)="searchAction()">
                        <mat-icon>search</mat-icon>Rechercher
                    </button>
                    <button mat-raised-button color="primary" (click)="resetSearchFormAction()">
                        <mat-icon>reset</mat-icon>Réinitialiser
                    </button>
                </div>
            </section>
        </mat-drawer>

        <mat-drawer-content class="search-result">
            <section class="p-3 pb-0">
                <mat-toolbar color="secondary">                      
                    <mat-toolbar-row class="search-toolbar" *ngIf="searchForm"> 
                        <div class="me-2"> 
                            <button mat-icon-button (click)="drawer.toggle()">
                                <mat-icon>tune</mat-icon>
                            </button>                           
                        </div>
                        <div class="me-2">                            
                            <input-text-field [field]="searchForm.partnerCode"></input-text-field>
                        </div>
                        <div class="me-2">                            
                            <select-one-field [field]="searchForm.type"></select-one-field>
                        </div>

                        <button mat-icon-button color="primary" class="me-2" (click)="searchAction()">
                            <mat-icon>search</mat-icon>
                        </button>

                        <button mat-icon-button color="primary" (click)="resetSearchFormAction()">
                            <mat-icon>restart_alt</mat-icon>
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>

                <table mat-table [dataSource]="this">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="partnerCode">
                        <th mat-header-cell *matHeaderCellDef>Code</th>
                        <td mat-cell *matCellDef="let element">{{element.partnerCode.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="partnerName">
                        <th mat-header-cell *matHeaderCellDef>Intitulé</th>
                        <td mat-cell *matCellDef="let element">
                            <span class="d-inline-block text-truncate" style="max-width: 100px;" [title]="element.partnerName.value">
                                {{element.partnerName.value}}
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">
                            <span class="d-inline-block text-truncate" style="max-width: 80px;" [title]="element.status.valueI18n">
                                {{element.status.valueI18n}}
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef>Téléphone</th>
                        <td mat-cell *matCellDef="let element">{{element.phone.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>Email</th>
                        <td mat-cell *matCellDef="let element">
                            <span class="d-inline-block text-truncate" style="max-width: 100px;" [title]="element.email.value">
                                {{element.email.value}}
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef>Pays</th>
                        <td mat-cell *matCellDef="let element">{{element.country.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef>Ville</th>
                        <td mat-cell *matCellDef="let element">{{element.city.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef>Adresse</th>
                        <td mat-cell *matCellDef="let element">{{element.address.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="text-end">
                            <button mat-mini-fab (click)="addAction()" class="me-2" color="primary">
                                <mat-icon>add</mat-icon>
                            </button>
                            <button mat-icon-button color="secondary" [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">                                
                                <button mat-menu-item color="primary" class="me-2" (click)="categoryAction()">
                                    <mat-icon>menu</mat-icon>Catégories
                                </button>
                            </mat-menu>
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-end">
                            <button mat-icon-button color="primary" title="Afficher" (click)="editAction(element)">
                                <mat-icon>preview</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" title="Copier" (click)="addAction({bean:element})">
                                <mat-icon>content_copy</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" title="Changer Status"                            
                                [disabled]="!element.changeStatusBtn.visible"
                                (click)="changeStatusAction(element)">
                                <mat-icon>schema</mat-icon>
                            </button>
                            <button mat-icon-button color="secondary" [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu"> 
                                <button mat-menu-item color="primary"
                                    *ngIf="element.deleteBtn.visible"
                                    title="Supprimer" (click)="deleteAction(element)">
                                    <mat-icon>delete</mat-icon> Supprimer
                                </button> 
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        [class.text-bg-danger]="row.action == 'DELETE'"></tr>
                </table>
            </section>
            
            <section class="p-3 pt-0">
                <mat-paginator *ngIf="searchForm" class="pe-2"
                    (page)="handlePageEvent($event)"
                    [length]="searchForm.length"
                    [pageSize]="searchForm.pageSize"
                    [pageSizeOptions]="searchForm.pageSizeOptions"
                    aria-label="Selectionner la page">
                </mat-paginator>
            </section>
        </mat-drawer-content>
    </mat-drawer-container>
</section>