<section>
    <div class="table-wrapper">
        <ng-container *ngFor="let element of paiements">
            <mat-card class="border border-primary mb-2">
                <mat-card-header>
                    <mat-card-title>{{element.compte.libelle.value}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-3">
                            <div class="d-inline-flex p-1">
                                <input-number-field [field]="element.montant"></input-number-field>
                                <div class="field-button pt-1" >
                                    <button mat-icon-button color="primary" (click)="releverResteAction(element)"                          
                                        title="Relever le reste dans ce paiement" >
                                        <mat-icon>currency_exchange</mat-icon>
                                    </button> 
                                </div>
                            </div> 
                        </div>  
                        <div class="col-3" *ngIf="element.interacVia.visible">
                            <input-radio-field [field]="element.interacVia"></input-radio-field>
                        </div>  
                        <div class="col-3" *ngIf="element.email.visible">
                            <input-text-field [field]="element.email"></input-text-field>
                        </div>  
                        <div class="col-3" *ngIf="element.phone.visible">
                            <input-text-field [field]="element.phone"></input-text-field>
                        </div> 
                    </div>    
                </mat-card-content>
            </mat-card>
        </ng-container>
    </div>
</section>