<section>
    <div class="table-wrapper">
        <table mat-table [dataSource]="this" class="beans-table editable table-borderless paiements">
            <ng-container matColumnDef="compte">
                <th mat-header-cell *matHeaderCellDef>Compte</th>
                <td mat-cell *matCellDef="let element">
                    <input-text-field 
                        [field]="element.compte.compteCode" 
                        [displayLabel]="false">
                    </input-text-field>
                </td>
            </ng-container>          

            <ng-container matColumnDef="montant">
                <th mat-header-cell *matHeaderCellDef>Montant</th>
                <td mat-cell *matCellDef="let element">                    
                    <div class="d-inline-flex" style="width: 100%;">
                        <input-number-field style="width: 100%;"
                            [field]="element.montant" 
                            [displayLabel]="false">
                        </input-number-field>
                        <div class="field-button pt-1" >
                            <button mat-icon-button color="primary" (click)="releverResteAction(element)"                          
                                title="Relever le reste dans ce paiement" >
                                <mat-icon>currency_exchange</mat-icon>
                            </button> 
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                [class.text-bg-danger]="row.action == 'DELETE'">
            </tr>
        </table>
    </div>
</section>