<mat-drawer-container>
    <mat-drawer #drawerLeft>
        <div class="container-fluid main-menu">
            <mat-selection-list role="list">
                <mat-list-item role="listitem">
                    <a href="">Tableau de bord</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="/vente">Ventes & Clients</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="/achat">Achats & Fournisseurs</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="/stock">Gestion des stocks</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="/paie">Paies & Employés</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="/finance/transaction">Gestion des transactions</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="/core/partner">Gestion des partenaires</a>
                </mat-list-item>
            </mat-selection-list>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">            
            <button mat-icon-button (click)="drawerLeft.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="ms-3 mt-3" #pageTitle></div>
            <span class="menu-spacer"></span>
            <button mat-icon-button class="favorite-icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
        <div class="container-fluid container-main pb-3 pt-3">           
            <router-outlet></router-outlet>
            <section>
                SalesPulse&trade; &copy; 2024 Elites Conseils & Services Professionnels TI inc.
            </section>
        </div>
    </mat-drawer-content>
</mat-drawer-container>