<table>
    <thead>
        <tr>
            <th>Menu</th>
            <th>Contenu</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
                    <li>
                        <a href="/tiers/tiers">Gestion des tiers</a>
                    </li>
                    <li>                        
                        <a href="/stock/article">Gestion des article</a>
                    </li>
                    <li>                        
                        <a href="/vente/commande">Gestion des commande</a>
                    </li>
                    <li>                        
                        <a href="/achat/bon-commande">Gestion des bons de commande</a>
                    </li>
                    <li>                        
                        <a href="/production/avicole/cycle">Gestion des cycles de production</a>
                    </li>
                </ul>
            </td>
            <td>
                <router-outlet></router-outlet>
            </td>
        </tr>
    </tbody>
</table>

