<mat-drawer-container>
    <mat-drawer #drawerLeft>
        <div class="container-fluid main-menu">
            <mat-selection-list role="list" *ngIf="displayMenu()">
                <mat-list-item role="listitem">
                    <a href="">Tableau de bord</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="/vente">Ventes & Clients</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="/achat">Achats & Fournisseurs</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="/stock">Gestion des stocks</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="/paie">Paies & Employés</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="/finance">Gestion des transactions</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="/core">Gestion des partenaires</a>
                </mat-list-item>
            </mat-selection-list>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">            
            <button mat-icon-button (click)="drawerLeft.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="ms-3 mt-3" #pageTitle></div>
            <span class="menu-spacer"></span>
            <button mat-icon-button extended color="basic" routerLinkActive="active" routerLink="/login" *ngIf="!isAuthenticated()">
                <mat-icon>login</mat-icon>
            </button>
            <ng-container *ngIf="isAuthenticated()">
                <button mat-icon-button color="secondary" [matMenuTriggerFor]="menu">
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #menu="matMenu">                                
                    <button mat-menu-item color="primary" routerLinkActive="active" routerLink="/profil">
                        <mat-icon>person</mat-icon>Profile
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item color="primary" (click)="logoutAction()">
                        <mat-icon>logout</mat-icon>Déconnexion
                    </button>                                
                </mat-menu>
            </ng-container>
        </mat-toolbar>
        <div class="container-fluid container-main pb-3 pt-3"> 
            <section class="main-content">
                <router-outlet></router-outlet>
            </section>          
            <section class="text-center">
                SalesPulse&trade; &copy; 2024 Elites Conseils & Services Professionnels TI inc.
            </section>
        </div>
    </mat-drawer-content>
</mat-drawer-container>