<table mat-table [dataSource]="this" class="table-borderless">
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null; toggleChange(row)"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="variantCode">
        <th mat-header-cell *matHeaderCellDef>Variant</th>
        <td mat-cell *matCellDef="let element">
            <input-text-field [field]="element.variantCode" [displayLabel]="false">
            </input-text-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="unite.vente">
        <th mat-header-cell *matHeaderCellDef>Unité(vente)</th>
        <td mat-cell *matCellDef="let element">
            <select-one-field [field]="element.uniteVente.uniteCode" [displayLabel]="false">
            </select-one-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="unite.achat">
        <th mat-header-cell *matHeaderCellDef>Unité(achat)</th>
        <td mat-cell *matCellDef="let element">
            <select-one-field [field]="element.uniteAchat.uniteCode" [displayLabel]="false">
            </select-one-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="alias">
        <th mat-header-cell *matHeaderCellDef>Alias</th>
        <td mat-cell *matCellDef="let element">
            <input-text-field [field]="element.alias" [displayLabel]="false">
            </input-text-field>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">
            <input-text-field [field]="element.variantDescription" [displayLabel]="false">
            </input-text-field>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.text-bg-danger]="row.action == 'DELETE'"></tr>
</table>