<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="selectedTab.index">
    <mat-tab>    
        <ng-template mat-tab-label>
            <span class="list-link">                
                <mat-icon>arrow-left-circle-fill</mat-icon>
                <span  class="ms-2">
                    Liste
                </span>
            </span>
        </ng-template>    
        <stock-inventaire-list-tab 
            [editingBeans]="editingBeans"
            [selectedTab]="selectedTab">
        </stock-inventaire-list-tab>
    </mat-tab>
    <ng-container *ngFor="let editingBean of editingBeans">
        <mat-tab>            
            <ng-template mat-tab-label>
                {{editingBean.article.articleCode.value}}
                <mat-icon class="ms-2">thumb_up</mat-icon>
            </ng-template>
            <stock-inventaire-edit-tab [bean]="editingBean"></stock-inventaire-edit-tab>
        </mat-tab>
    </ng-container>
  </mat-tab-group>
