<mat-tab-group 
    mat-stretch-tabs="false" 
    mat-align-tabs="start"  
    #stock_inventaire
    [selectedIndex]="selectedTab.index"
    (selectedTabChange)="selectedTabChange($event)">
    <mat-tab>    
        <ng-template mat-tab-label>
            <mat-icon>list_task</mat-icon>
            <span class="ms-2">
                Liste
            </span>
        </ng-template>    
        <stock-inventaire-list-tab 
            [editingBeans]="editingBeans"
            [selectedTab]="selectedTab"
            [breadcrumb]="breadcrumb">
        </stock-inventaire-list-tab>
    </mat-tab>
    <ng-container *ngFor="let editingBean of editingBeans; index as i">
        <mat-tab>                        
            <ng-template mat-tab-label>
                <span class="me-2">
                    {{editingBean.article.articleCode.value}}
                </span>
                <button mat-icon-button (click)="removeTabAction(i)">
                    <mat-icon>close</mat-icon>
                </button>
            </ng-template> 
            <stock-inventaire-edit-tab 
                [bean]="editingBean"
                [breadcrumb]="breadcrumb">
            </stock-inventaire-edit-tab>
        </mat-tab>
    </ng-container>
  </mat-tab-group>
