<section class="mat-elevation-z8">
    <mat-drawer-container>
        <mat-drawer #drawer class="search-form">
            <section *ngIf="searchForm" class="m-3">
                <h4>
                    Recherche
                </h4>
                <div>
                    <select-one-field [field]="searchForm.magasinCode"></select-one-field>
                    <input-text-field [field]="searchForm.articleCode"></input-text-field>
                </div>
                <div class="text-nowrap">
                    <button mat-raised-button color="primary" class="me-2" (click)="searchAction()">
                        <mat-icon>search</mat-icon>Réchercher
                    </button>
                    <button mat-raised-button color="primary" (click)="resetSearchFormAction()">
                        <mat-icon>restart_alt</mat-icon>Réinitialiser
                    </button>
                </div>
            </section>
        </mat-drawer>
        <mat-drawer-content class="search-result">
            <section class="p-3 pb-0">
                <mat-toolbar color="secondary">                      
                    <mat-toolbar-row class="search-toolbar" *ngIf="searchForm"> 
                        <div class="me-2"> 
                            <button mat-icon-button (click)="drawer.toggle()">
                                <mat-icon>tune</mat-icon>
                            </button>                           
                        </div>
                        <div class="me-2">                            
                            <select-one-field [field]="searchForm.magasinCode"></select-one-field>
                        </div>
                        <div class="me-2">                            
                            <input-text-field [field]="searchForm.articleCode"></input-text-field>
                        </div>

                        <button mat-icon-button color="primary" class="me-2" (click)="searchAction()">
                            <mat-icon>search</mat-icon>
                        </button>

                        <button mat-icon-button color="primary" (click)="resetSearchFormAction()">
                            <mat-icon>restart_alt</mat-icon>
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>
                <table mat-table #inventaires [dataSource]="this">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="article">
                        <th mat-header-cell *matHeaderCellDef>Article</th>
                        <td mat-cell *matCellDef="let element">{{element.article.articleCode.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="magasin">
                        <th mat-header-cell *matHeaderCellDef>Magasin</th>
                        <td mat-cell *matCellDef="let element">{{element.magasin.magasinCode.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="unite.achat">
                        <th mat-header-cell *matHeaderCellDef>Unité(achat)</th>
                        <td mat-cell *matCellDef="let element">{{element.uniteAchat.uniteCode.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="unite.vente">
                        <th mat-header-cell *matHeaderCellDef>Unité(vente)</th>
                        <td mat-cell *matCellDef="let element">{{element.uniteVente.uniteCode.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="variantCode">
                        <th mat-header-cell *matHeaderCellDef>Variante</th>
                        <td mat-cell *matCellDef="let element">{{element.variantCode.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="quantite">
                        <th mat-header-cell *matHeaderCellDef
                            matTooltip="En unité de vente">
                            Qté en stock
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="!element.quantiteAjust.editable">
                                <div class="d-flex ajust-wrapper">
                                    <div>
                                        {{element.quantite.value}} {{element.uniteAchat.uniteCode.value}}
                                    </div>
                                    <div class="ms-auto">
                                        <mat-icon 
                                            matTooltip="Ajuster la quanité. Unité de base: {{element.uniteAchat.uniteCode.value}}"
                                            (click)="toggleAjustFieldAction(element.quantiteAjust)">
                                            edit
                                        </mat-icon>
                                    </div>
                                </div>                             
                            </ng-container>
                            <ng-container *ngIf="element.quantiteAjust.editable">
                                <div class="d-flex ajust-wrapper">
                                    <div>
                                        <input type="number" 
                                            class="input-ajust"
                                            [matTooltip]="'Veuillez indiquer la quantité à ajouter ou à retrancher(valeur négative) à la quantité actuelle. Quantité actuelle ' + element.quantite.value + ' Unité de base: ' + element.uniteAchat.uniteCode.value"
                                            [(ngModel)]="element.quantiteAjust.value"/>  
                                    </div>
                                    <div class="ms-auto">
                                        <mat-icon color="primary" 
                                            matTooltip="Enregistrer"
                                            (click)="ajusterQuantiteStockInlineAction(element)">
                                            save
                                        </mat-icon>                               
                                        <mat-icon color="primary" 
                                            matTooltip="Annuler"
                                            (click)="toggleAjustFieldAction(element.quantiteAjust)">
                                            cancel
                                        </mat-icon>
                                    </div>
                                </div>    
                            </ng-container>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="prixUnitaireVente">
                        <th mat-header-cell *matHeaderCellDef>P.U.(vente)</th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="!element.prixUnitaireVenteAjust.editable">
                                <div class="d-flex ajust-wrapper">
                                    <div>
                                        {{element.prixUnitaireVente.value}}
                                    </div>
                                    <div class="ms-auto">
                                        <mat-icon matTooltip="Définir le nouveau prix de vente. Unité de base: {{element.uniteVente.uniteCode.value}}" 
                                            (click)="toggleAjustFieldAction(element.prixUnitaireVenteAjust)">
                                            edit
                                        </mat-icon>
                                    </div>
                                </div> 
                            </ng-container>
                            <ng-container *ngIf="element.prixUnitaireVenteAjust.editable">
                                <div class="d-flex ajust-wrapper">
                                    <div>                                        
                                        <input type="number"                                            
                                            [matTooltip]="'Veuillez indiquer le nouveau prix de vente de la variante. Prix en cours ' + element.prixUnitaireVente.value + '. Unité de base: ' + element.uniteVente.uniteCode.value" 
                                            class="input-ajust" 
                                            [(ngModel)]="element.prixUnitaireVenteAjust.value"/>                                  
                                    </div>
                                    <div class="ms-auto">
                                        <mat-icon color="primary" 
                                            matTooltip="Enregistrer"
                                            (click)="definirPrixVenteInlineAction(element)">
                                            save
                                        </mat-icon>
                                        <mat-icon color="primary" 
                                            matTooltip="Annuler"
                                            (click)="toggleAjustFieldAction(element.prixUnitaireVenteAjust)">
                                            cancel
                                        </mat-icon>
                                    </div>
                                </div>                                
                            </ng-container>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="prixUnitaireAchat">
                        <th mat-header-cell *matHeaderCellDef>P.U.(achat)</th>
                        <td mat-cell *matCellDef="let element">{{element.prixUnitaireAchat.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="text-end">
                            <button mat-mini-fab (click)="addAction()" class="me-2" color="primary">
                                <mat-icon>add</mat-icon>
                            </button>
                            <button mat-icon-button color="secondary" [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">                                
                                <button mat-menu-item color="primary" class="me-2" (click)="uniteAction()">
                                    <mat-icon>open_in_new</mat-icon>Unités
                                </button>
                                <button mat-menu-item color="primary" class="me-2" (click)="importAction()">
                                    <mat-icon>open_in_new</mat-icon>Importer
                                </button>
                            </mat-menu>
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-end">
                            <button mat-icon-button color="secondary" [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">                                
                                <button mat-menu-item color="primary" class="me-2" (click)="ajusterQuantiteAction(element)">
                                    <mat-icon>open_in_new</mat-icon>Ajuster la quantité 
                                </button>                         
                                <button mat-menu-item color="primary" class="me-2" (click)="ajusterPrixVenteAction(element)">
                                    <mat-icon>open_in_new</mat-icon>Modifier le prix de vente
                                </button>                       
                                <button mat-menu-item color="primary" class="me-2" (click)="ajusterUniteVenteAction(element)">
                                    <mat-icon>open_in_new</mat-icon>Modifier l'unité de vente
                                </button>                       
                                <button mat-menu-item color="primary" class="me-2" (click)="ajusterUniteAchatAction(element)">
                                    <mat-icon>open_in_new</mat-icon>Modifier l'unité d'achat
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        [class.text-bg-danger]="row.action == 'DELETE'"></tr>
                </table>
            </section>
            <section class="p-3 pt-0">
                <mat-paginator *ngIf="searchForm" class="pe-2"
                    (page)="handlePageEvent($event)"
                    [length]="searchForm.length"
                    [pageSize]="searchForm.pageSize"
                    [pageSizeOptions]="searchForm.pageSizeOptions"
                    aria-label="Selectionner la page">
                </mat-paginator>
            </section>
        </mat-drawer-content>
    </mat-drawer-container>
</section>