

<section class="p-3">
    <div class="row">
        <div class="col-5">
            <section class="mat-elevation-z8 p-3 mb-3">
                <h4>
                    Détails du magasin
                </h4>
                <div class="row">
                    <div class="col-6">
                        <input-text-field [field]="bean.magasinCode"></input-text-field>
                    </div>
                    <div class="col-6">
                        <input-text-field [field]="bean.description"></input-text-field>
                    </div>
                </div>

            </section>

            <section class="mat-elevation-z8 p-3">
                <h4>
                    Liste des casiers
                </h4>
                <stock-magasin-edit-casier-list *ngIf="bean.casiers" [casiers]="bean.casiers"
                    [magasinCode]="bean.magasinCode.value">
                </stock-magasin-edit-casier-list>
            </section>
        </div>
    </div>
</section>
<section class="p-3">
    <button mat-raised-button color="primary" class="me-2" (click)="saveAction()">
        <mat-icon>save</mat-icon>Enregistrer
    </button>
</section>