<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="selectedTab.index">
    <mat-tab label="Liste">        
        <stock-magasin-list-tab 
            [editingBeans]="editingBeans"
            [selectedTab]="selectedTab">
        </stock-magasin-list-tab>
    </mat-tab>
    <ng-container *ngFor="let editingBean of editingBeans">
        <mat-tab [label]="editingBean.magasinCode.value">            
            <stock-magasin-edit-tab [bean]="editingBean"></stock-magasin-edit-tab>
        </mat-tab>
    </ng-container>
  </mat-tab-group>
