
<th mat-header-cell *matHeaderCellDef>
    <mat-checkbox (change)="$event ? beanList.toggleAllRows() : null"
        [checked]="beanList.selection.hasValue() && beanList.isAllSelected()"
        [indeterminate]="beanList.selection.hasValue() && !beanList.isAllSelected()" 
        [aria-label]="beanList.checkboxLabel()">
    </mat-checkbox>
</th>
<td mat-cell *matCellDef="let row">
    <mat-checkbox (click)="$event.stopPropagation()"
        (change)="$event ? beanList.selection.toggle(row) : null"
        [checked]="beanList.selection.isSelected(row)" 
        [aria-label]="beanList.checkboxLabel(row)">
    </mat-checkbox>
</td>