<div class="card mb-4">
    <div class="card-header">
        Production avicole
    </div>
    <div class="card-body">
      <div class="row">
            <div class="col-7">
                <div class="border border-primary mb-3">                    
                    <canvas id="depenseVsRecette">{{depenseVsRecette}}</canvas>
                </div>
                <div class="border border-primary mb-3">                    
                    <canvas id="ponte">{{ponte}}</canvas>
                </div>
                <div class="border border-primary">                    
                    <canvas id="deces">{{deces}}</canvas>
                </div>
            </div>
            <div class="col-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Date de mise en enclos
                        <span class="badge text-bg-primary rounded-pill">2024-05-01</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Date de reformation probable
                        <span class="badge text-bg-primary rounded-pill">2026-05-01</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Sujets décedés
                        <span class="badge text-bg-primary rounded-pill">180</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Sujets vivants/départ
                        <span class="badge text-bg-primary rounded-pill">3900 / 4080</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Dépenses avant ponte
                        <span class="badge text-bg-primary rounded-pill">3900</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Gain potentiel(Recettes - Dépenses)
                        <span class="badge text-bg-primary rounded-pill">3900</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Quantité aliments consommées(en tonne)
                        <span class="badge text-bg-primary rounded-pill">50</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Quantité copeaux consommées(en sac)
                        <span class="badge text-bg-primary rounded-pill">50</span>
                    </li>
              </ul>
            </div>
        </div>          
    </div>
</div>