<div class="card mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <span>États des comptes</span>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Éditer les comptes</a>
                <a class="dropdown-item" href="#">Transférer les fonds</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <ng-container *ngFor="let item of etatComptes">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ item.compte.compteCode.value}}
                    <span class="badge text-bg-primary rounded-pill">
                        {{ item.solde.value | currency: '  ' : 'symbol' : '1.2-2' }}
                    </span>
                </li>
            </ng-container>
            <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary text-white">
                Total
                <span class="badge text-bg-primary rounded-pill">
                    {{ totaux | currency: '  ' : 'symbol' : '1.2-2' }}
                </span>
            </li>
          </ul>
    </div>
</div>