<div class="card mb-4">
    <div class="card-header m-0 p-0 ps-3 d-flex flex-row align-items-center justify-content-between">
        <span>États des comptes</span>

        <button mat-icon-button color="secondary" class="m-0 p-1" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">                                
            <button mat-menu-item color="primary" (click)="compteAction()">
                <mat-icon>open_in_new</mat-icon>Comptes
            </button>
        </mat-menu>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <ng-container *ngFor="let item of etatComptes">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ item.compte.compteCode.value}}
                    <span class="badge text-bg-primary rounded-pill">
                        {{ item.solde.value | currency: '  ' : 'symbol' : '1.2-2' }}
                    </span>
                </li>
            </ng-container>
            <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary text-white">
                Total
                <span class="badge text-bg-primary rounded-pill">
                    {{ totaux | currency: '  ' : 'symbol' : '1.2-2' }}
                </span>
            </li>
          </ul>
    </div>
</div>