<h2 mat-dialog-title>Confirmation changement de statut</h2>
<mat-dialog-content class="mb-0">
    <div *ngIf="bean" class="mt-1">
        <div class="row">
            <div class="col-4">
                <input-text-field [field]="bean.transactionCode"></input-text-field>
            </div>
            <div class="col-4">
                <select-one-field [field]="bean.type"></select-one-field>
            </div>
            <div class="col-4">
                <input-text-field [field]="currentStatus" label="Statut en cours"></input-text-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input-datetime-field [field]="bean.statusDate"></input-datetime-field>
            </div>
            <div class="col-6">
                <select-one-field [field]="bean.status"></select-one-field>
            </div>
        </div>
    </div>    
</mat-dialog-content>
<mat-dialog-actions align="end" class="m-3 pt-0 mt-0">
    <button mat-raised-button mat-dialog-close>Annuler</button>
    <button mat-raised-button cdkFocusInitial (click)="changeStatusAction()">Changer</button>
</mat-dialog-actions>