<mat-tab-group mat-stretch-tabs="false" 
    mat-align-tabs="start"     
    #finance_transaction
    [selectedIndex]="selectedTab.index"
    (selectedTabChange)="selectedTabChange($event)">
    <mat-tab>        
        <ng-template mat-tab-label>
            <mat-icon>list_task</mat-icon>
            <span class="ms-2">
                Liste
            </span>
        </ng-template> 
        <finance-transaction-list-tab 
            [editingBeans]="editingBeans"
            [selectedTab]="selectedTab"
            [module]="module"
            [breadcrumb]="breadcrumb">
        </finance-transaction-list-tab>
    </mat-tab>
    <ng-container *ngFor="let editingBean of editingBeans">
        <mat-tab>     
            <ng-template mat-tab-label>
                <span class="me-2">
                    {{editingBean.transactionCode.value}}
                </span>
                <button mat-icon-button (click)="removeAction(editingBean)">
                    <mat-icon>close</mat-icon>
                </button>
            </ng-template> 
            <finance-transaction-edit-tab 
                [bean]="editingBean" 
                [module]="module"
                [breadcrumb]="breadcrumb">
            </finance-transaction-edit-tab>
        </mat-tab>
    </ng-container>
  </mat-tab-group>

  <div class="d-flex">
    <button mat-fab extended cdkFocusInitial  class="ms-3 mb-3"
        (click)="saveAction()" 
        color="primary"
        *ngIf="currentEditingBean?.saveBtn?.visible">
        <mat-icon>save</mat-icon>Enregistrer
    </button>

    <span class="menu-spacer"></span>

    <button mat-fab extended class="me-3 mb-3" color="warn" *ngIf="addOptions.length == 1"
        (click)="addAction(addOptions[0].type)">
        <mat-icon>add</mat-icon> Ajouter une nouvelle Transaction
    </button>

    <button mat-fab extended class="me-3 mb-3" color="warn" *ngIf="addOptions.length != 1"
        [matMenuTriggerFor]="addMenu">
        <mat-icon>add</mat-icon>  Ajouter une nouvelle Transaction
    </button>

    <mat-menu #addMenu="matMenu"> 
        <ng-container *ngFor="let o of addOptions">
            <button mat-menu-item color="primary" (click)="addAction(o.type)">
                <mat-icon>open_in_new</mat-icon>{{ o.label }}
            </button>
        </ng-container>
    </mat-menu>
</div>
