<section class="mat-elevation-z8">
    <mat-drawer-container>
        <mat-drawer #drawer class="search-form">
            <section *ngIf="searchForm" class="m-3">
                <h4>
                    Recherche
                </h4>
                <div>
                    <input-text-field [field]="searchForm.partner"></input-text-field>
                    <select-one-field [field]="searchForm.type"></select-one-field>
                    <select-multiple-field [field]="searchForm.statusIn"></select-multiple-field>
                    <select-one-field [field]="searchForm.rubrique"></select-one-field>
                </div>
                <div class="text-nowrap">
                    <button mat-raised-button class="me-2" (click)="searchAction()">
                        <mat-icon>search</mat-icon>Rechercher
                    </button>
                    <button mat-raised-button (click)="resetSearchFormAction()">
                        <mat-icon>restart_alt</mat-icon>Reinitialiser
                    </button>
                </div>
            </section>
        </mat-drawer>
        <mat-drawer-content class="search-result">
            <section class="p-3 pb-0">
                <mat-toolbar color="secondary">                      
                    <mat-toolbar-row class="search-toolbar" *ngIf="searchForm"> 
                        <div class="me-2"> 
                            <button mat-icon-button (click)="drawer.toggle()">
                                <mat-icon>tune</mat-icon>
                            </button>                           
                        </div>
                        <div class="me-2">
                            <input-text-field [field]="searchForm.transactionCode"></input-text-field>
                        </div>
                        <div class="me-2">                            
                            <input-date-field [field]="searchForm.dateDebut"></input-date-field>
                        </div>
                        <div class="me-2">                            
                            <input-date-field [field]="searchForm.dateFin"></input-date-field>
                        </div>
                        <div class="me-2">                            
                            <select-one-field [field]="searchForm.compte"></select-one-field>
                        </div>

                        <button mat-icon-button color="primary" class="me-2" (click)="searchAction()">
                            <mat-icon>search</mat-icon>
                        </button>

                        <button mat-icon-button color="primary" (click)="resetSearchFormAction()">
                            <mat-icon>restart_alt</mat-icon>
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>
                <table mat-table #transactions [dataSource]="this">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="transactionCode">
                        <th mat-header-cell *matHeaderCellDef># Ref</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.transactionCode.value}} 
                            <mat-icon *ngIf="element.note.value" class="fs-6" [matTooltip]="element.note.value" fontIcon="info_circle"></mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="accompte">
                        <th mat-header-cell *matHeaderCellDef>Accompte {{partnerLabel}}</th>
                        <td mat-cell *matCellDef="let element">
                            <input-checkbox-field [displayLabel]="false" [field]="element.accompte"></input-checkbox-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>Type</th>
                        <td mat-cell *matCellDef="let element">{{element.type.value}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Statut</th>
                        <td mat-cell *matCellDef="let element">{{element.status.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>Date</th>
                        <td mat-cell *matCellDef="let element">{{element.date.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="montant">
                        <th mat-header-cell *matHeaderCellDef>Montant</th>
                        <td mat-cell *matCellDef="let element">{{element.montant.value | currency: '  ' : 'symbol' : '1.2-2'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="rubrique">
                        <th mat-header-cell *matHeaderCellDef>Rubrique</th>
                        <td mat-cell *matCellDef="let element">{{element.rubrique.rubriqueCode.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="compte">
                        <th mat-header-cell *matHeaderCellDef>Compte</th>
                        <td mat-cell *matCellDef="let element">{{element.compte.compteCode.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="partner">
                        <th mat-header-cell *matHeaderCellDef>{{partnerLabel}}</th>
                        <td mat-cell *matCellDef="let element">{{element.partner.partnerCode.value}}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="text-end">
                            <button mat-icon-button color="secondary" [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            
                            <mat-menu #menu="matMenu">                                
                                <button mat-menu-item color="primary" 
                                    *ngIf="searchForm && searchForm.transfertBtn.visible"
                                    (click)="transfertAction()">
                                    <mat-icon>open_in_new</mat-icon>Transfert
                                </button>
                                <button mat-menu-item color="primary"                                     
                                    *ngIf="searchForm && searchForm.rubriqueBtn.visible"
                                    (click)="rubriqueAction()">
                                    <mat-icon>open_in_new</mat-icon>Rubriques
                                </button>
                                <button mat-menu-item color="primary"                                     
                                    *ngIf="searchForm && searchForm.compteBtn.visible"
                                    (click)="compteAction()">
                                    <mat-icon>open_in_new</mat-icon>Comptes
                                </button>
                                <button mat-menu-item color="primary"                                     
                                    *ngIf="searchForm && searchForm.taxeBtn.visible"
                                    (click)="taxeAction()">
                                    <mat-icon>open_in_new</mat-icon>Taxes
                                </button>
                            </mat-menu>
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-end">
                            <button mat-icon-button color="primary" title="Afficher" (click)="editAction(element)">
                                <mat-icon>preview</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" title="Copier" (click)="copyAction(element)">
                                <mat-icon>content_copy</mat-icon>
                            </button>                           
                            <button mat-icon-button color="primary"
                                [disabled]="!element.changeStatusBtn.visible"
                                title="Changer Status"
                                (click)="changeStatusAction(element)">
                                <mat-icon>schema</mat-icon>
                            </button>
                            <button mat-icon-button color="secondary" [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">   
                                <button mat-menu-item color="primary" 
                                    *ngIf="element.deleteBtn.visible"
                                    title="Supprimer" 
                                    (click)="deleteAction(element)">
                                    <mat-icon>delete</mat-icon> Supprimer
                                </button> 
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        [class.text-bg-danger]="row.action == 'DELETE'"></tr>
                </table>
            </section>
            <section class="p-3 pt-0">
                <mat-paginator *ngIf="searchForm" class="pe-2"
                    (page)="handlePageEvent($event)"
                    [length]="searchForm.length"
                    [pageSize]="searchForm.pageSize"
                    [pageSizeOptions]="searchForm.pageSizeOptions"
                    aria-label="Selectionner la page">
                </mat-paginator>
            </section>
        </mat-drawer-content>
    </mat-drawer-container>
</section>