<h2 mat-dialog-title>Transfert de compte à compte</h2>
<mat-dialog-content>
    <div *ngIf="bean" class="mt-1">
        <div class="row">
            <div class="col-4">
                <select-one-field [field]="bean.compteSource.compteCode" label="Compte Source"></select-one-field>
            </div>
            <div class="col-4">
                <select-one-field [field]="bean.compteCible.compteCode" label="Compte Cible"></select-one-field>
            </div>
            <div class="col-4">
                <input-number-field [field]="bean.montant"></input-number-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input-datetime-field [field]="bean.date"></input-datetime-field>
            </div>
            <div class="col-6">
                <select-one-field [field]="bean.partner.partnerCode"></select-one-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input-textarea-field [field]="bean.note"></input-textarea-field>
            </div>
        </div>
    </div>    
</mat-dialog-content>
<mat-dialog-actions align="end" class="m-3 pt-0 mt-0">
    <button mat-raised-button mat-dialog-close>Annuler</button>
    <button mat-raised-button cdkFocusInitial (click)="transfertAction()">Transférer</button>
</mat-dialog-actions>