<mat-tab-group preserveContent>    
    
    <mat-tab label="Inventaire">
        <ng-template matTabContent>
            <stock-inventaire-index-page></stock-inventaire-index-page>
        </ng-template>
    </mat-tab>

    <mat-tab label="Articles">
        <ng-template matTabContent>
            <stock-article-index-page></stock-article-index-page>
        </ng-template>
    </mat-tab>
    
    <mat-tab label="Magasins">
        <ng-template matTabContent>
            <stock-magasin-index-page></stock-magasin-index-page>
        </ng-template>
    </mat-tab>
</mat-tab-group>