<div *ngIf="bean">
    <div>
        <strong>
            <input type="text" [value]="bean.categoryCode.value"/>
        </strong>
        <span>
            <input type="text" [value]="bean.description.value"/>
        </span>
        <button>Ajouter</button>
        <button>Supprimer</button>
    </div>    
    <div *ngIf="bean.children" style="margin-left:32px;">
        <div *ngFor="let child of bean.children">
            <tiers-category-category-block [bean] = "child"></tiers-category-category-block>
        </div>
    </div>
</div>